a{color:#cea525;text-decoration:none;}
.preloader .spinner .dot1,
.preloader .spinner .dot2,
.bg_info,
.colors-bg,
.sidebar-toggle.toggle_profile{background:#cea525;}
#go-top-button:hover{background-color:#cea525;}
.fb_navigation ul a:hover,
#header .copyright p a:hover,
#sidebar-wrapper .fc-widget_about .fc-widget-about h3:hover,
#sidebar-wrapper .fc-widget_about .fc-widget-about a:hover,
#sidebar-wrapper .fc-widget_category ul li a:hover,
#sidebar-wrapper .fc-widget_category-2 ul li a:hover,
#sidebar-wrapper .fc-widget_populaire ul li div.poup_posts .post-body .post-title a:hover,
#sidebar-wrapper .fc-widget_tabs ul li div.poup_posts .post-body .post-title a:hover,
#sidebar-wrapper .fc-widget_recent ul li div.recent_posts .post-body .post-title a:hover,
#sidebar-wrapper .fc-widget_tabs ul.tabs_recent_posts li div.recent_posts .post-body .post-title a:hover,
#sidebar-wrapper .fc-widget_populaire ul li div.poup_posts .post-body .post-meta .post-comments a:hover,
#sidebar-wrapper .fc-widget_tabs ul li div.poup_posts .post-body .post-meta .post-comments a:hover,
#sidebar-wrapper .fc-widget_recent ul li div.recent_posts .post-body .post-meta .post-comments a:hover,
#sidebar-wrapper .fc-widget_tabs ul.tabs_recent_posts li div.recent_posts .post-body .post-meta .post-comments a:hover,
#sidebar-wrapper .fc-widget_meta ul li a:hover,
#sidebar-wrapper .fc-widget-latest_tweets ul li.avatar>a,
#sidebar-wrapper .fc-widget_tags a:hover,
.single-portfolio .content .portfolio-sidebar div a:hover,
#contentContact .innerpadding ul.info_contact li a:hover,
.more-link:hover,
.more-link:focus,
h2.post-title a:hover,
article .post-meta div a,
.meta-item-share .share_button i,
.content-single.blog-post article blockquote .author,
.prev-post a:hover,
.next-post a:hover,
.prev-next-nav a:hover,
#related-posts .related-post-head span a:hover,
#latest-articles .related-post-head span a:hover,
.page_404 p a ,
#sidebar-wrapper .fc-widget-latest_tweets ul li .times a,
#masonry-container article h3.post-title a:hover,
#masonry-container article a.read_more_but:hover,
#masonry-container article .footer_post ul li:hover a,
#masonry-container article .footer_post ul li:hover i,
.blog-content-grid article h3.post-title a:hover,
.blog-content-grid article a.read_more_but:hover,
.blog-content-grid article .footer_post ul li:hover a,
.blog-content-grid article .footer_post ul li:hover i{color:#cea525;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-webkit-transition:all 0.2s linear;transition:all 0.2s linear;}
.colors-color,
.colors-color-hover:hover,
.colors-color-active:active
{
    color:#cea525 !important;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-webkit-transition:all 0.2s linear;transition:all 0.2s linear;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover,
#sidebar-wrapper .fc-widget_category .count,
#sidebar-wrapper .fc-widget_category-2 .count{background:#cea525;}
#sidebar-wrapper .fc-widget-latest_galeries .flexslider-sidebar .flex-direction-nav .flex-next:after{border-left:5px solid #cea525;}
#sidebar-wrapper .fc-widget-latest_galeries .flexslider-sidebar .flex-direction-nav .flex-prev:after{border-right:5px solid #cea525;}
#sidebar-wrapper .fc-widget-latest_galeries .flexslider-sidebar .flex-control-paging li a.flex-active{background-color:#cea525;background-image:-webkit-gradient(linear, left top, left bottom, from(#cea525), to(#cea525));background-image:-webkit-linear-gradient(top, #cea525, #cea525);background-image:-moz-linear-gradient(top, #cea525, #cea525);background-image:-o-linear-gradient(top, #cea525, #cea525);background-image:linear-gradient(to bottom, #cea525, #cea525);}
#sidebar-wrapper .fc-widget-latest_galeries .flexslider-sidebar .flex-control-paging li a{background-color:#cea525 \9;-webkit-box-shadow:inset 0 0 0 2px #cea525;-moz-box-shadow:inset 0 0 0 2px #cea525;box-shadow:inset 0 0 0 2px #cea525;}
#sidebar-wrapper .fc-widget_tabs ul.nav-tabs li.active a,
.single-portfolio .content #portfolio-nav ul li a:hover{background:#cea525;}
#sidebar-wrapper .fc-widget-latest_galeries .flexslider-sidebar .flex-direction-nav .flex-prev,
#sidebar-wrapper .fc-widget-latest_galeries .flexslider-sidebar .flex-direction-nav .flex-next,
#sidebar-wrapper .fc-widget_tabs .tagcloud a:hover,
#genre-filter li:hover span,
#genre-filter li span.active,
.read-more a.more-link,
.flexslider-blog .flex-direction-nav a:hover,
.content-single.blog-post article blockquote.blockquote-1,
.page_404 .search-form .esearch-submit,
#sidebar-wrapper .fc-widget_tags a:hover{background-color:#cea525;transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;}
.portfolios .view-first a.open-imag:hover,
.portfolios .view-first a.external:hover,
.main-pagination .page-numbers.current,
.main-pagination a:hover,
#related-posts .block-head .flex-direction-nav a:hover,
#latest-articles .block-head .flex-direction-nav a:hover,
#masonry-container article a.read_more_but:hover,
#masonry-container article .footer_post ul li:before,
.blog-content-grid article a.read_more_but:hover,
.blog-content-grid article .footer_post ul li:before{background:#cea525;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.single-portfolio .fc-page-title-breadcrumbs{background-color:#cea525;border:1px solid #cea525;}
#tabs:hover,
#tabs_resp:hover{border-color:#cea525;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
#contentContact .innerpadding .btn-cta-contact-2:hover,
.flex-control-paging li a.flex-active,
.flex-control-paging li a.flex-active:hover{background:#cea525;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-webkit-transition:all 0.2s linear;transition:all 0.2s linear;}
.more-link::before,
.more-link::after{color:#cea525;background:#cea525;}
.post-quote,
.post-quote-2,
.media-overlay,
#about-Author .author-counters .author-name,
.content-single.blog-post article .block-head h3,
#leave-reply .contact-form-us input[type="submit"],
.wrapper-content .header-main ,
.page_404 .search-form .esearch-submit,
.block-head h3{background-color:#cea525;}
.post-wrap-twitter,
.blog-post article .post-footer .read_more_button,
.grid_title_wrapper,
.flexslider-grid .flex-direction-nav a:hover{background:#cea525;}
.content-single.blog-post article blockquote{border-left:3px solid #cea525;}
#about-Author .author-counters a:hover span,
#listing-comments ul.comments .reply a:hover{background-color:#cea525;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;-webkit-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.content-single.blog-post article .block-head{border-bottom:2px solid #cea525;}
#leave-reply .contact-form-us input[type="text"]:focus,
#leave-reply .contact-form-us input[type="email"]:focus,
#leave-reply .contact-form-us textarea:focus{border-color:#cea525;}
.page_404 .block-head,
.block-head{border-bottom:2px solid #cea525;}
.my_profile .info_profile h2,
.page_404 h1,
.contact-section .title span,
.about_me h2{color:#cea525;}
.about_me .img-feature img:hover,
#sidebar-wrapper .fc-widget-our_writers .fc-widget-ourwriters .writers-list .author-image img:hover{border:5px solid #cea525;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;transition:all 0.2s ease;-webkit-transition-duration:1s;-moz-transition-duration:1s;transition-duration:1s;}
.contact-section .btn-cta-primary:hover{background:#cea525;border:2px solid #cea525;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-webkit-transition:all 0.2s linear;transition:all 0.2s linear;}
.player .controls .play{background:#cea525 !important;}
.page_404 .search-form .esearch-submit{border:1px solid #cea525;}
.sidebar-toggle.toggle_profile i:hover{background:#b99421;}
#about-Author .author-page .img-avatar:hover{border:3px solid #cea525;}
#masonry-container article a.read_more_but:hover,
.blog-content-grid article a.read_more_but:hover{border:2px solid #cea525;}
#custumize-style a.switcher,
#custumize-style #button-reset a,
#custumize-style h1{background-color:#cea525;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;-webkit-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}